/* global styles */

:root {
  /* color */
  --main-color: #38687A;
  --accent-color-1: #73D4E6;
  --accent-color-2: #1B323B;
  --text-color-light: #fff;
  --read-status-unread: #5eb0cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus,
*:active {
  outline: none !important;
}

header,
main,
form,
h1,
h2,
h3 {
  padding: 1%;
}

/* page section styles */

header {
  background-color: var(--main-color);
  color: var(--accent-color-1);
}

.title,
.totals {
  display: flex;
  align-items: center;
}

span.total-numbers {
  color: var(--text-color-light);
}

main {
  min-height: 100vh;
}

/* element styles */
h1 {
  font-size: 3em;
  text-transform: capitalize;
  letter-spacing: .1em;
}

/* new book form styles begin */
form {
  border: solid 1px var(--accent-color-2);
  border-radius: 5px;
}

#newBookForm {
  margin-bottom: 30px;
}

label {
  margin-right: 10px;
}

input {
  padding: 7px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #444;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 1% 0%;
}

.form-group input[type=text],
.form-group input[type=number] {
  flex: 1;
  max-width: 70%;
}
.form-group input[type=text]:focus,
.form-group input[type=number]:focus {
  box-shadow:0 0 6px 4px rgba(0,0,0,0.15);

}

input[type=submit] {
  background-color: var(--main-color);
  color: var(--text-color-light);
}

input[type=submit]:hover {
  background-color: var(--accent-color-2);
}

/* new book form styles end */

/* book-list table styles start */
table {
  border-collapse: collapse;
}
tr {
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
th,
td {
  padding: 5px;
}

tr:nth-of-type(odd) {
  background-color: #eee;
}

thead > tr {
  background-color: transparent !important;
}

button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--text-color-light);
  border: 1px solid #444;
  min-width: 70px;
}

/* this class is toggled when user changes read status for a book object */
.read-status-button {
  background-color: var(--read-status-unread);
}

/* book-list table styles end */


/* media queries  */
@media screen and (min-width: 800px) {
  form {
    max-width: 70%;
  }
  table {
    width: 70%;
  }
  th {
    text-align: left;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .totals {
    flex-direction: column;
    align-items: flex-start;
  }
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  thead tr { 
    /* move table head outside of screen */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td { 
    /* Behave  like a "row" */
    position: relative !important;
    padding-left: 25% !important;
    padding-bottom: 1%;;
    text-align: right;
  }
  td:before { 
    /* Acts like the table header */
    position: absolute;
    left: 0px;
    padding-right: 10px; 
    font-weight: 600;
  }
  
  td:nth-of-type(1):before { content: "Title"; }
  td:nth-of-type(2):before { content: "Author"; }
  td:nth-of-type(3):before { content: "Pages"; }
  td:nth-of-type(4):before { content: "Read Status"; }
}